@charset "UTF-8";
/* CSS Document */

body {
	font-family: 'Lato', sans-serif;
	/*font-family: sans-serif;*/
}

/*HEADER*/
.container-fluid {
	background: white;
}

/*.countdown {
	color: white;
	float: left;
	left: 70px;
	position: relative;
	font-size: 35px;
	font-family: 'Six Caps', sans-serif;
	margin-top: 30px;
}*/

.banner{
	margin-left: 15px;
	margin-top: 10px;
	margin-right: 5px;
	font-size: 19px;
	vertical-align: center;
}
	a {
		color: #CA1A17;
		text-decoration: none;
	}

	.redBanner {
		height: 85px;
		background-color: #CA1A17;
	}

.nav a:hover {
  		color: black !important;
  		background-color: white !important;
  		border-radius: 1px;
	}

.logo {
	text-align: center;
	padding: 10px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 15px;
	color:white;
	width: 300px;
	height: auto;
}

/*.btn-trans{
	text-align: center;
	text-decoration: none;
	border: 1px;
}*/

.upper {
	text-transform: uppercase;
}

.edition {
	padding-top: 15px;
	margin-bottom: 50px;
	font-family: Arial;
	font-size: 15px;
	color: white;
	text-align: center;
}

.socials {
	float: right;
	position: relative;
	margin-bottom: 15px;
	margin-right: 15px;
}


.fa {
	color: #CA1A17;
}

.socials .btn {
  width: 150px;
}

.btn-danger{
	background-color: white !important;
	color: #CA1A17 !important;
	border-color: #CA1A17 !important;
}


.btn-sample:hover{
  	width: 150px;
}

.date {
	background-color: #CA1A17;
	height: auto;
	width: 230px;
}

/*END HEADER*/

/*WHAT*/

.bloc {
  padding: 45px 0 50px;
  text-align: center;
}

.bloc h1{
	padding: 15px;
}

.bloc h3{
	font-size: 36px;
	color: #CA1A17;
	font-weight: bold;
}

.bloc h4 {
	color: #CA1A17;
	font-size: 2rem;
}

.bloc h5{
	font-family: 'Bungee Inline', cursive;
}

.bloc a {
  text-decoration: none;
}

.what_bloc{
	margin-top: 20px;
	font-size: 17px;

}

.what img {
  max-width: 100%;
  box-shadow: 2px 2px 3px grey;
  width: 100px;
  height: 100px;
}

/*ADA LOVELACE*/
.ada_lovelace img {
	width: 120px;
	height: 120px;
}

.ada_lovelace a {
	color: black;
}

.text_style p {
	text-align: center;
	margin-left: 15px;
	margin-top: 15px;
	font-size: 18px;
}

.text_style a {
	text-align: center;
	margin-left: 15px;
	margin-top: 15px;
	font-size: 18px;
}

/*MARRAINE*/
.marraine{
  padding: 50px 0;
  text-align: center;
}

.marraine h1 {
  font-size: 2,5em;
  color: black;
}

.marraine h4 {
  color: #CA1A17;
  font-size: 32px;
  padding: 0 0 25px 0;
}

.marraine p {
	color: black;
  padding: 0 15px 0 15px;
  font-size: 1.5rem;
}

.marraine b {
  color: #CA1A17;
}

.marraine a {
  text-decoration: none;
}

.marraineImg {
  width:100%;
  height:auto;
  max-width: 100%;
  box-shadow: 2px 2px 3px grey;
}

.blackLetter{
	color: black;
}

/*END MARRAINE*/

/*PROGRAMME*/
.programme{
  padding: 50px 0;
  text-align: center;
}
/*.schedule {
	background-color: white;
	padding: 45px;
}

.schedule h1 {
	color: #CA1A17;
	text-align: center;
	margin: 45px 0 45px 0;
}*/

/*.table-hover{
	background-color: #D0D0D2 !important;
}

.tableGrey {
	color: white;
	background-color: #6F7074;
}*/

/*EDITION 2015*/

/*END EDITION 2015*/

/*PRESS COVERAGE*/

.press {
	padding: 30px 30px 90px 40px;;
	text-align: center;
	background-color: #CA1A17;
}

.press h1 {
	font-size: 2,5rem;
	padding-bottom: 5px;
	color: black;
}

.press p {
	color: black;
	font-size: 20px;
	padding: 0 0 25px 0;
}

.press .press-logo li img {
	opacity: 0.3;
	padding-bottom: 25px;
	width: 250px;
	height: auto;
}

.press .press-logo li:hover img {
	opacity:1;
}

.press .small {
	width: 200px;
	height: auto;
}
/*.press img {
	{ -webkit-filter: grayscale(100%); filter: grayscale(100%); };
}*/

/*END PRESS COVERAGE*/

/*EQUIPE*/
.team {
	padding: 100px 0 100px;;
	text-align: center;
}

.team2{
	padding-bottom: 25px;
}

.equipe {
	background-color: white;
	margin-bottom: 35px;
}

.equipe h1 {
	text-align: center;
	font-size: 2,5rem;
	padding: 30px 0 30px 0;
	color: black;
}

.equipe img {
	width: 160px;
	height: 159px;
}


/*END EQUIPE*/

/*PARTENAIRES*/
.partenaires {
	padding: 30px 30px 90px 40px;
	text-align: center;
	background-color: white;
}

.partenaires h1 {
	color: black;
	font-size: 2,5rem;
	padding-bottom: 25px;
}

.partenaires-logo {
	margin-top: 15px;
}

.bloc_padding{
	margin: 0 20px 0 25px;
}

/*END PARTENAIRES*/

/*CONTACT*/
.contacter {
  padding: 30px 0 100px;
  text-align: center;
  background-color: white;
	font-size: 2,5rem;
	color: #CA1A17;
}

.contacter h3 {
	color: black;
	background-color: white;
	font-size: 1,2rem;
  padding: 15px 0 25px 0;
}

.contacter .fa {
	color: #CA1A17;
}

.contact_bloc_padding{
	margin: 25px;
	line-height: 35px;
	font-size: 18px;
	color: black;
}

/*END CONTACT*/

/*FOOTER*/

.footer {
  background-color: #6F7074; /*gris*/
  color: white; /*gris clair*/
  padding: 30px 0;
  text-align: center;
}

.footer h1 {
  font-size: 1.5em;
}

.ending {
  background-color: #242424;
  margin-bottom: none;
  text-align: center;
}

/*END FOOTER*/
